/* General Styles */
body {
    background-image:url(../img/background.jpg);
    position: relative;
    min-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    color:blue
}

.jumbotron {
    height: 50vh;
    background-image: url("../img/jumbotron.jpg");
    background-position: center;
    background-size:cover;
    border-bottom: solid 6px orange;
}

.vertical-center {
    height:100%;
    width:100%;
    text-align: center;
}

.jumbotron h2 {
    font-size: 2em !important;
    font-weight: 500 !important;
    color:orange;
;
}

.btn-primary {
    background-color: orange !important;

}

/*  Nav Bar */
#brand {
    color: orange;
    font-size: 2.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.bg-light {
    background-color: #0b327a !important;
}

.nav-link {
    color: white !important;
}

.navbar-nav .nav-item:hover .nav-link {
    color: orange !important;
}

/* Footer Styles*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px; 
    background-color: #0b327a;
    border-top: solid 6px orange;
    margin-top: auto;
   
  }
  .text-muted {
      color: white !important;
      text-align: center;
  }

  /*Style used for section backgrounds*/
#bg-color {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 80px;
}

.img-me {
    height: 350px;
    width: 300px;
    border: solid 4px orange;
    box-shadow: 10px 10px orange;
}

/* Portfolio Styles*/
img{
    height: 350px;
    width: 300px;
}

.card:hover{
    border: solid 4px orange;
 
}